<html>

<head>
    <meta charset="UTF-8" />
    <meta name="wiewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ .Site.Title }}</title>
    <link href="/images/logo.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='{{ .Site.BaseURL }}/css/fullcalendar.min.css' />
    <script src="{{.Site.BaseURL}}/js/jquery-3.4.1.min.js"></script>
</head>